.table-color {
    background-color: black;
}
.table-row-color {
    background-color: grey;
}

.table-header-color {
    background-color: grey;
}

.table-data-color {
    background-color: lightgrey;
}