.container {
    background-color: cadetblue;
    display:flex;
    justify-content: center;
}
.table-font {
font-size: 20px;
color:black;
}

.table {
    background-color: black;
    padding:2px;

}

.table-container {

}

.table-row {
    background-color: grey;
    padding:2px;
}

.table-header {
    background-color: grey;
    padding:2px;
}

.table-data {
    background-color: lightgrey;
    padding:2px;

}

.index {
    display:flex;
    justify-content: center;
}

.value {
    display:flex;
    justify-content: center;
}

